.main {
  text-align: center;
}
.title {
  font-size: 2.5em;
}
.main-content {
  margin-top: 2rem;
}
.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
  margin-left: 1%;
  margin-right: 1%;
}
.cart-btn {
  align-items: right;
  margin-left: 1rem;

}